{% extends "djangocms_blog/base.html" %}
{% load i18n thumbnail cms_tags static %}{% spaceless %}

{% block canonical_url %}<link rel="canonical" href="{{ SITE.domain }}{{ view.get_view_url }}"/>{% endblock canonical_url %}

{% block title %}
  {% if author %}{% trans "Author" %}: {{ author.get_full_name }}
  {% elif archive_date %}{% trans "Archive" %}: {% if month %}{{ archive_date|date:'F' }} {% endif %}{{ year }}
  {% elif tagged_entries %}{% trans "Tag" %}: {{ tagged_entries|capfirst }}
  {% elif category %}{% page_attribute "page_title" request.current_page.get_root %}: {{ category }}{% endif %}
{% endblock %}

{% block content_header %}
  {% if author or archive_date or tagged_entries or category %}
    <header class="blog-header">
      {% if category.header_image %}<img src="{% thumbnail category.header_image "1280x400" crop="center" %}" alt="{{ category.name }}" />{% endif %}
        <h1>
          <div class="container">
          {% if author %}<span>{% trans "Author" %}:</span> {{ author.get_full_name }}
          {% elif archive_date %}<span>{% trans "Archive" %}:</span> {% if month %}{{ archive_date|date:'F' }} {% endif %}{{ year }}
          {% elif tagged_entries %}<span>{% trans "Tag" %}:</span> {{ tagged_entries|capfirst }}
          {% elif category %}<span>{% page_attribute "page_title" request.current_page.get_root %}:</span> {{ category }}{% endif %}
          </div>
        </h1>
    </header>
  {% endif %}
{% endblock %}

{% block content_blog %}
<section class="blog-list">
    {% if category %}
      {% render_placeholder category.intro %}
      {% include "djangocms_blog/includes/category_loop.html" with category=category %}
      {% render_placeholder category.content %}
    {% elif author or archive_date or tagged_entries %}
      {% if post_list %}
      <ul>
      {% for post in post_list %}
        <li><a href="{{ post.get_absolute_url }}">{{ post }}</a></li>
      {% endfor %}    
      </ul>
      {% endif %}
    {% else %}
      {% placeholder "content" %}
    {% endif %}

    {% if author or archive_date or tagged_entries %}
    <p class="blog-back"><a href="{% url 'djangocms_blog:posts-latest' %}">{% trans "Back" %}</a></p>
    {% endif %}
    {% if is_paginated %}
    {% comment %}
    <nav class="{% firstof css_grid instance.css_grid %} pagination">
        {% if page_obj.has_previous %}
            <a href="?{{ view.page_kwarg }}={{ page_obj.previous_page_number }}">&laquo; {% trans "previous" %}</a>
        {% endif %}
        <span class="current">
            {% trans "Page" %} {{ page_obj.number }} {% trans "of" %} {{ paginator.num_pages }}
        </span>
        {% if page_obj.has_next %}
            <a href="?{{ view.page_kwarg }}={{ page_obj.next_page_number }}">{% trans "next" %} &raquo;</a>
        {% endif %}
    </nav>
    {% endcomment %}
    {% endif %}
</section>
{% endblock %}
{% endspaceless %}
